@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #272727;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #325553;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 90px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #bebebe;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #60f1ad;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

/*fin de la navbar*/

/*bloc de texte*/

.bloc1 h1{
  font-family: 'Hind Siliguri', sans-serif;
    color: #325553;
    font-size: 75px;
    position: relative;
    top: 100px;
    margin-left: 1%;
    text-decoration: underline;
    text-underline-position: under
}

.bloc1 h2{
  font-family: 'Hind Siliguri', sans-serif;
    color: #325553;
    position: relative;
    top: 130px;
    font-size: 20px;
    margin-left: 10%;
}

.bloc1 h3{
  font-family: 'Hind Siliguri', sans-serif;
    color: #325553;
    position: relative;
    top: 124px;
    font-size: 10px;
    margin-left: 10%;
}

.bloc1 h4{
  font-family:'Hind Siliguri', sans-serif;
    color: #325553;
    position: relative;
    top: 124px;
    font-size: 15px;
    margin-left: 10%;
    text-justify: inter-word;
}


   
.bloc2 h1{
  font-family: 'Hind Siliguri', sans-serif;
    color: #325553;
    position: relative;
    top:35px;
    font-size: 20px;
    margin-left: 40%;
 
}

.bloc2 h2{
  font-family: 'Hind Siliguri', sans-serif;
    color: #325553;
    position: relative;
    top:29px;
    font-size: 10px;
    margin-left: 40%;

}

.bloc2 h3{
  font-family: 'Hind Siliguri', sans-serif;
  color: #325553;
  position: relative;
  top:29px;
  font-size: 15px;
  margin-left: 40%;
  
}

.bloc3 h1{
  font-family: 'Hind Siliguri', sans-serif;
    color: #325553;
    position: relative;
    bottom:60px;
    font-size: 20px;
    margin-left: 70%;
}

.bloc3 h2{
  font-family: 'Hind Siliguri', sans-serif;
    color: #325553;
    position: relative;
    bottom:60px;
    font-size: 10px;
    margin-left: 70%;
}

.bloc3 h3{
  font-family: 'Hind Siliguri', sans-serif;
    color: #325553;
    position: relative;
    bottom:60px;
    font-size: 15px;
    margin-left: 70%;
}



/*fin bloc texte*/

/*boutton suivant*/

.boutton {
  top:85px;
  position: relative;
  display: flex;
  margin-left: 75%;
  align-items: center;
}

.suivant {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 40px;
    color: white;
    background: #325553;
    transition: 1s;
    box-shadow: 6px 6px 0 #00ccff;
    transform: skewX(-15deg);
}

.suivant:focus {
   outline: none; 
}

.suivant:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #00ccff;
}

.suivant span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.suivant:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

span {
    color: rgb(255, 255, 255);  
  }

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #00ccff;
    }
    100% {
        fill: white;
    }
}

/*fin boutton*/
.skills{
  position: relative;
  top: 248px;
}
.skills h1{
  font-family: 'Hind Siliguri', sans-serif;
    color: #325553;
    position: relative;
    bottom: 80px;
    font-size: 75px;
    margin-left: 45%;
    
}
.tres{
  border-top: 5px solid #325553;
  width : 685px;
  bottom: 130px;
  position: relative;
}


/* INDIVIDUAL BAR HOLDER */

.bar1 {
  width: 25%;
  background-color: rgb(231, 231, 231);
  border-radius: 20px;
  position: relative;
  bottom: 5px;
  margin-left: 20%;
    
}
.xd {
  width: 45%;
  background-color: rgb(253, 0, 135);
  color: #fff;
  border-radius: 21px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 15px;
  font-weight: 400;

}

.bar2{
  width: 25%;
  background-color: rgb(231, 231, 231);
  border-radius: 20px;
  position: relative;
  top: 20px;
  margin-left: 20%;

}

.html{
  width: 30%;
  background-color: rgb(34, 252, 5);
  color: #fff;
  border-radius: 21px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
  margin-top: 15px;
  font-weight: 400;

}

.bar3{
  width: 25%;
  background-color: rgb(231, 231, 231);
  border-radius: 20px;
  position: relative;
  bottom:68px;
  margin-left: 50%;

}

.css{
  width: 20%;
  background-color: rgb(5, 244, 252);
  color: #fff;
  border-radius: 21px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
 
  font-weight: 400;
}

.bar4{
    width: 25%;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    position: relative;
    bottom:28px;
    margin-left: 50%;
}

.javascript{
  width: 5%;
  background-color: rgb(202, 76, 3);
  color: #fff;
  border-radius: 21px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-align: center;
 
  font-weight: 400;
}